[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt
[submodule "include/scnlib"]
	path = include/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "include/ctre"]
	path = include/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
